<html ng-app="anchorScroll">
    <head>
        <script src="lib/angular.min.js"></script>
        <script src="script.js"></script>
    </head>
    <body ng-controller="ScrollController">
            <a id="top" href=""></a>
            <button ng-click="gotoBottom()">GO BOTTOM</button>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><b><br><br><br><br><br>
                <a id="bottom" href=""></a>
            At the bottom
            <button ng-click="gotoTop()">GO TOP</button>
           
    </body>
</html>