<html ng-app="app">

<head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-animate.min.js"></script>
        <script src="script.js"></script>

</head>

<body ng-controller="Controller as vm" ng-init="">
        <h2>{{vm.msg}}</h2>

        <span draggable>Drag me</span>
        <span draggable>Drag me</span>
        <span draggable>Drag me</span>
        <span draggable>Drag me</span>

        <div ng-repeat="c in vm.customers">
                <my-customer customer="c"></my-customer>
        </div>
        
        <dl>
                <dt>$watch test</dt>
                <dd>
                        <input type="text" ng-model="vm.test" />
                </dd>
                <dt>
                        Directive test
                </dt>
                <dd>
                        <input type="text" placeholder="Enter time formt here ex: hh:mm:ss" ng-model="vm.timeFormat" style="width: 50%"/>
                        <br>
                        <br>
                        <time-watch time-format="vm.timeFormat || 'hh:mm:ss'" draggable=""></time-watch>
                </dd>
        </dl>

       

</body>

</html>